@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-white antialiased;
  }
}

@layer components {
  .container-xl {
    @apply max-w-6xl mx-auto px-4;
  }
}

